apiVersion: v1
kind: ConfigMap
metadata:
  name: logstash-config
  namespace: elastic-system
data:
  logstash.yml: |
    http.host: "0.0.0.0"
    pipeline.workers: 2
  logstash.conf: |
    input {
      # OpenTelemetry Collector에서 데이터 수신
      http {
        port => 5044
        codec => json
      }
    }
    filter {
      if [kubernetes] {
        mutate {
          add_field => {
            "namespace" => "%{[kubernetes][namespace]}"
            "pod_name" => "%{[kubernetes][pod][name]}"
          }
        }
      }
    }
    output {
      elasticsearch {
        hosts => ["http://elasticsearch:9200"]
        index => "logstash-%{+YYYY.MM.dd}"
      }
    }
